<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Govt. Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  
<!-- TRANSLATER -->


<div id="google_translate_element" style="z-index: 3000px;"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>FINANCES</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a class="active" href="/services">Govt. Services</a></li>
          <li><a href="/contact">Guide</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Govt. Services</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Govt. Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
    <section class="services" style="align-items: center; padding-left: 19%;">
      <div class="container" style="align-items: center;">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon" > <img src="/img/woman_949635.png" alt="Women image" style="height: 70%;"></div>
              <h4 class="title"><a href="">Women</a></h4>
              <p class="description" style="color: black;"><i>The Indian government has launched a number of schemes for women over the past few years to ensure their economic security and expose them to more opportunities in education, work, and more.</i></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><img src="/img/friends_6744419.png" alt="Youth image" style="height: 70%;"></div>
              <h4 class="title"><a href="">Youth</a></h4>
              <p class="description" style="color: black;"><i>The Ministry of Youth Affairs and Sports has introduced Scheme of National Youth Corps (NYC) to set up a group of disciplined and dedicated youth who have the inclination and spirit to engage in the task of nation building.</i></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><img src="/img/poor_5606758.png" alt="UnderPrivilage image" style="height: 70%;"></div>
              <h4 class="title"><a href="">UnderPrivilage</a></h4>
              <p class="description" style="color: black;"><i>Want to uplift underprivileged families but don’t know how? From basic banking facilities to free food, here are five government schemes that you can use to make a difference in their lives!</i></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="/img/WhatsApp Image 2023-08-11 at 02.19.54.jpeg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/@MyGovIndia" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><img src="/img/WhatsApp Image 2023-08-11 at 02.29.57.jpeg" alt="" style="height: 116%;"></div>
              <h4 class="title"><a href="">My Gov</a></h4>
              <p class="description"><b><i>MyGov is a citizen engagement platform launched by the Government of India on 26 July 2014 to promote the active participation of Indian citizens in their country's governance and development.</i></b></p>
            </div>

            <div class="icon-box">
              <div class="icon"><img src="/img/WhatsApp Image 2023-08-11 at 02.29.57.jpeg" alt="" style="height: 116%;"></div>
              <h4 class="title"><a href="">Features</a></h4>
              <p class="description"><b><i>The government's crowdsourcing platform MyGov.in launched its version 2.0, with newer features such as hashtags, polls, interactive discussion forums and social media account integration. The impact assessment of this citizen engagement platform was done by Indian Institute of Public Administration (IIPA), New Delhi.</i></b></p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="/img/WhatsApp Image 2023-08-11 at 02.35.42.jpeg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Mudra Yojana Scheme</a></h5>
                <p class="card-text">It is a Government of India initiative that provides business loans to women who want to open day-care-center, beauty salon or a small venture like these. The loan granted loan amount lies in Rs.50,000 and Rs.50 lakh. Also this scheme does not require any collateral or guarantor if the loan amount is below 10 Lakh. The women are given Mudra cards with which they can withdraw 10% of their loan.</p>
                <div class="read-more"><a href="https://www.youtube.com/watch?v=nKCUsL3mqAY&ab_channel=OkCredit"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="/img/WhatsApp Image 2023-08-11 at 02.41.35.jpeg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Widow Pension</a></h5>
                <p class="card-text">There are some benefits that a widow can avail from the Vidhwa pension yojana as mentioned below:
                  The Government provides a fixed, regular monthly income to aid the single women or widow.
                  INR 300 is the minimum pension provided by the Government, which can range between INR 300 to INR 2000 as per the state norm.</p>
                <div class="read-more"><a href="https://www.youtube.com/watch?v=qdetlh7YSls&ab_channel=NITIGYAN4U"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="/img/WhatsApp Image 2023-08-11 at 02.49.36.jpeg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</a></h5>
                <p class="card-text">Pradhan Mantri Kaushal Vikas Yojana (PMKVY) is the flagship outcome-based skill training scheme of the Ministry of Skill Development & Entrepreneurship (MSDE). The objective of this skill certification and reward scheme is to enable and mobilize a large number of Indian youth to take up outcome based skill training and become employable and earn their livelihood. You can find detailed information related to this scheme such as key features, evaluation, training centres, etc.</p>
                <div class="read-more"><a href="https://www.youtube.com/watch?v=srBYjCbSzoE&ab_channel=AccountingGuruji-SBJ"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="/img/jan-dhna-yojana1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Pradhan Mantri Jan Dhan Yojana</a></h5>
                <p class="card-text">Pradhan Mantri Jan Dhan Yojana  is a financial inclusion program of the Government of India open to Indian citizens (minors of age 10 and older can also open an account with a guardian to manage it), that aims to expand affordable access to financial services such as bank accounts, remittances, credit, insurance and pensions. This financial inclusion campaign was launched by the Prime Minister of India Narendra Modi on 28 August 2014. He had announced this scheme on his first Independence Day speech on 15 August 2014.</p>
                <div class="read-more"><a href="https://www.youtube.com/watch?v=hpi4Xv3hsbg&ab_channel=DrishtiIAS\"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->


  </main><!-- End #main -->

  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
         Designed by Team Number 13
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> 

  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html> 